<%= partial(:'partials/header', :locals => { :title => "Useful tools" }) %>
<div class="row essentialtools">
  <div class="wow fadeInUp essentialtools__col essentialtools__col--3 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <% link_to "Rails.html" do %>
    <h3>Rails</h3>
    <%= image_tag 'logo-rails.png', :class => 'logo__columns' %>
    <span>Set up Rails</span>
    <%  end  %>
  </div>
  <div class="wow fadeInDown essentialtools__col essentialtools__col--1 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <% link_to "psql.html" do %>
      <h3>Postgre SQL</h3>
      <%= image_tag 'logo-psql.png', :class => 'logo__columns' %>
      <span>Set up PSQL</span>
    <%  end  %>
  </div>
  <div class="wow fadeInDown essentialtools__col essentialtools__col--4 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <% link_to "vim.html" do %>
    <h3>VIM</h3>
    <%= image_tag 'logo-vim.png', :class => 'logo__columns' %>
    <span>Set up VIM</span>
    <% end %>
  </div>
  <div class="wow fadeInDown essentialtools__col essentialtools__col--2 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <% link_to "subl.html" do %>
    <h3>Sublime text</h3>
    <%= image_tag 'logo-sublime-text-3.png', :class => 'logo__columns' %>
    <span>Set up Sublime</span>
    <%  end  %>
  </div>
  <div class="wow fadeInDown essentialtools__col essentialtools__col--5 col-lg-15 col-md-15 col-sm-12 col-xs-12">
    <% link_to "mysql.html" do %>
    <h3>MySQL</h3>
    <%= image_tag 'logo-mysql.png', :class => 'logo__columns' %>
    <span>Set up MYSQL</span>
    <% end %>
  </div>
</div>
