<%= partial(:'partials/header', :locals => { :title => "Mysql Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 1 }) %>
    <div class="row item active <%= bgcolor %>">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First &amp; Last step: DL MySQL packages</h2>
          <p>
            Run :
          <br>
            <span class="step__boxes step__boxes--code">
              sudo apt-get install mysql-server mysql-client libmysqlclient-dev
            </span>
          </p>
          <% link_to "index.html" , :class => 'step__next' do %>
            Checkout the other useful tools <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-mysql-step1.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

<%= partial "partials/endcarousel" %>
