<header class="wow fadeInDown  header">
  <% link_to "../../index.html" do %>
    <i class="fa fa-home"></i>
  <% end %>
  <h1 class="header__h1">
    Posgre SQL Set Up
  </h1>
  <span class="header__socials">
    <span class="header__share">
      SHARE
    </span>
    <% link_to "http://facebook.com" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <% link_to "http://twitter.com" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </span>
</header>
<div id="carousel-example-generic" class="carousel carousel__1 slide" data-interval="false" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="row item active bg-red">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: add a new repo and install psql</h2>
          <p>
              Run:
            <br>
              <span class="step__boxes step__boxes--instructions">
                sudo sh -c "echo 'deb http://apt.postgresql.org/pub/repos/apt/ precise-pgdg main' > /etc/apt/sources.list.d/pgdg.list"
              </span>
              Then:
            <br>
              <span class="step__boxes step__boxes--instructions">
                wget --quiet -O - http://apt.postgresql.org/pub/repos/apt/ACCC4CF8.asc | sudo apt-key add -              </span>
            <br>
            Then:
            <span class="step__boxes step__boxes--instructions">
              sudo apt-get update
            </span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-psql-step1.png', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row item bg-orange">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Install the common packages</h2>
          <p>
            Run:
            <br>
            <span class="step__boxes step__boxes--code">
              sudo apt-get install postgresql-common
            </span>
            <br>
            Write
            <span class="step__boxes step__boxes--instructions">Y</span>
            <br>
            And hit
            <span class="step__boxes step__boxes--instructions">
              Return
            </span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-psql-step2.png', :class => 'step__image' %>
        </article>
      </div>
    </div>
    <div class="row item bg-blue">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Open the DMG</h2>
          <p>
            Run:
            <br>
            <span class="step__boxes step__boxes--code">
              sudo apt-get install postgresql-9.3 libpq-dev
            </span>
            <br>
            Write
            <span class="step__boxes step__boxes--instructions">Y</span>
            <br>
            And hit
            <span class="step__boxes step__boxes--instructions">
              Return
            </span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-psql-step3.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row item bg-green">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: Create yourself !</h2>
          <p>
            Postgre does not come with a default user so,
            <br>
            In order to be able to access the db and get some work done
            <br>
            Run:
            <br>
            <span class="step__boxes step__boxes--code">
              sudo -u postgres createuser YOURNAME -s
            </span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-psql-step4.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row item bg-blue">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fifth step: Create your password</h2>
          <p>
            Connect to psql with:
            <br>
            <span class="step__boxes step__boxes--code">
              sudo -u postgres psql
            </span>
            <br>
            Once your inside PSQL/SQL you cqn run SQL code so:
            <br>
            <span class="step__boxes step__boxes--code">
              \password YOURNAME
            </span>
            <br>
            Type your password two times
            <br>
            quit
            <br>
            <span class="step__boxes step__boxes--code">
              \q
            </span>
          </p>
          <% link_to "mysql.html" , :class => 'step__next' do %>
            Wish an another db? <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-psql-step5.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
