<%= partial(:'partials/header', :locals => { :title => "Sublime Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 2 }) %>
    <div class="row <%= bgcolor %> item active">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Download the package </h2>
          <p>
            Go to this url:
            <br>
            <span class="step__boxes step__boxes--instructions">
              <a href="https://www.sublimetext.com/3">https://www.sublimetext.com/3</a>
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-subl-step1.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Open the package</h2>
          <p>
            Save the package
            <br>
            You are now able to open your sublime text editor via the command:
            <br>
            <span class="step__boxes step__boxes--code">
              subl
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-subl-step2.png', :class => 'step__image' %>
        </article>
      </div>
<%= partial "partials/endcarousel" %>
