<%= partial(:'partials/header', :locals => { :title => "Vim Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 1 }) %>
    <div class="row item active bg-red">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Introduction: Ahhh ... VIM </h2>
          <p>
            It stands for VI Improved, and it is.
            <br>
            If I explain you here how to work with it, you'll never be a good developer,
            <br>
            You just need to know that it is a text editor
            <br>
            Run:ß
            <span class="step__boxes step__boxes--code">
              sudo apt-get install vim
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-vim-step1.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

<%= partial "partials/endcarousel" %>
