<header class="wow fadeInDown  header">
  <% link_to "../../index.html" do %>
    <i class="fa fa-home"></i>
  <% end %>
  <h1 class="header__h1">
    Git Set Up
  </h1>
  <span class="header__socials">
    <span class="header__share">
      SHARE
    </span>
    <% link_to "http://facebook.com" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <% link_to "http://twitter.com" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </span>
</header>
<div id="carousel-example-generic" class="carousel carousel__1 slide" data-interval="false" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="row item active bg-yellow">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Let it shine</h2>
          <p>
            Allow your terminal to use git UI theme colors by typing this command:
          <br>
          <span class="step__boxes step__boxes--code">git config --global color.ui true</span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-git-step1.png', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row item bg-red">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Connect to the beast</h2>
          <p>
            In order to connect to github, write this command with your github username
            <br>
            <span class="step__boxes step__boxes--code">git config --global user.name "Your Name"</span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-git-step2.png', :class => 'step__image' %>
        </article>
      </div>
    </div>
    <div class="row item bg-green">

      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Connect to the beast</h2>
          <p>
            In order to connect to github, write this command with your github email address
            <br>
            <span class="step__boxes step__boxes--code">git config --global user.email "YOUR@EMAIL.com"</span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-git-step3.png', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row item bg-purple">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: Generate your rsa key</h2>
          <p>
            In order to connect via ssh with a secured connexion generate a key with:
            <br>
            <span class="step__boxes step__boxes--code">ssh-keygen -t rsa -C "YOUR@EMAIL.com"</span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-git-step4.png', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row item bg-green">

      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fifth step: Add the key to your github account</h2>
          <p>
            Run this command and copy the key to your keyboard
            <span class="step__boxes step__boxes--code">cat ~/.ssh/id_rsa.pub</span>
            <br>
            Go to this link and paste your new key
            <span class="step__boxes step__boxes--instructions"><a href="https://github.com/settings/ssh">https://github.com/settings/ssh</a></span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'gitlogo.png', :class => 'step__image' %>
        </article>
      </div>
    </div>



    <div class="row item bg-green">

      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Sixth step: Am I connected?</h2>
          <p>
            Run this command that should say you hello personally ;)
            <br>
            <span class="step__boxes step__boxes--code">ssh -T git@github.com</span>
          </p>
          <% link_to "heroku.html" , :class => 'step__next' do %>
            Install Heroku <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-git-step3.png', :class => 'step__image' %>
        </article>
      </div>
    </div>


  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
