<%= partial(:'partials/header', :locals => { :title => "Heroku" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 3 }) %>
    <div class="row <%= bgcolor %> item active">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Introduction: What's the toolbelt?</h2>
          <p>
            The Heroku toolbelt is a package that will allows you
            <br>
            to have the Heroku CommandLine up and runing.
            <br>
            You will be able to interact directly with the servers.
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Let's start the setup <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'herokulogo.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Find the toolbelt</h2>
          <p>
            Go to this website:
            <br>
          <span class="step__boxes step__boxes--instructions">
            <a href="https://toolbelt.heroku.com/debian">https://toolbelt.heroku.com/debian</a>
          </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-heroku-step1.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Install the toolbelt</h2>
          <p>
            Run:
            <br>
            <span class="step__boxes step__boxes--code">
              wget -O- https://toolbelt.heroku.com/install-ubuntu.sh | sh
            </span>
            <br>
            Write your password
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-heroku-step2.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Connect to the beast</h2>
          <p>
            Run:
            <br>
            <span class="step__boxes step__boxes--instructions">
              heroku login
            </span>
            <br>
            Follow the instructions
          </p>
          <% link_to "homebrew.html" , :class => 'step__next' do %>
            Install Linux brew <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-heroku-step2.png', :class => 'step__image' %>
        </article>
      </div>
<%= partial "partials/endcarousel" %>
