<%= partial(:'partials/header', :locals => { :title => "Linuxbrew Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 6 }) %>
    <div class="row item active bg-red">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Install Linuxbrew via the terminal</h2>
          <p>
            Open your terminal and write this line:
          <span class="step__boxes step__boxes--code">ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/linuxbrew/go/install)"</span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-linuxbrew-1.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

<span class=></span>
    <div class="row item bg-green">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: install the dependencies</h2>
          <p>
            Run:
            <br>
            <span class="step__boxes step__boxes--code">
              sudo apt-get install build-essential curl git m4 ruby texinfo libbz2-dev libcurl4-openssl-dev libexpat-dev libncurses-dev zlib1g-dev
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-linuxbrew-2.png', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row item bg-yellow">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Say Yes !</h2>
          <p>
          Simply type :
          <span class="step__boxes step__boxes--instructions">
            Y
          </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-linuxbrew-3.png', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row item bg-purple">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: What the Path?</h2>
          <p>
              Ok, you've got all the packages, but your computer doesn't know where to look.
            <br>
              If you try to run a brew command right now, it will say
            <span class="step__boxes step__boxes--instructions">brew command not found</span>
            <br>
              You need to copy those lines in your .bashrc
            <br>
              <span class="step__boxes step__boxes--code">
                export PATH="$HOME/.linuxbrew/bin:$PATH"
                export MANPATH="$HOME/.linuxbrew/share/man:$MANPATH"
                export INFOPATH="$HOME/.linuxbrew/share/info:$INFOPATH"
              </span>
            <br>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-linuxbrew-4.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row item bg-blue">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fifth step: Your system is ready to brew !</h2>
          <p>
            <br>
              Basically, it checks all the files related to brew and there symlinks.
            <br>
            <br>
              It will tells you if there is some error and a little help on how to fix input.
            <br>
            <br>
              So, If you have a problem with your computer just checkout it out,
            <br>
            <br>
              The doctor is always TRUE.
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Check out the next picture <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-linuxbrew-5.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row item bg-blue">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Sixth step: Always get the last version</h2>
          <p>
            Run the epic command that will save you during all your developer life!
            <br>
              <span class="step__boxes step__boxes--code">brew doctor</span>
            <br>
            Don't forget to :
            <br>
            <span class="step__boxes step__boxes--code">brew update</span>
            <br>
            Before installing anything
          </p>
          <% link_to "node.html" , :class => 'step__next' do %>
            Install Node <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-linuxbrew-6.png', :class => 'step__image' %>
        </article>
      </div>
<%= partial "partials/endcarousel" %>
