<%= partial(:'partials/header', :locals => { :title => "Essential tools" }) %>
<div class="row essentialtools">
    <div class="wow fadeInUp essentialtools__col essentialtools__col--linux1 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "ruby.html" do %>
      <h3>RVM &amp; Ruby</h3>
      <%= image_tag 'Ruby-original.png', :class => 'logo__columns' %>
      <span>Set up RVM &amp; Ruby</span>
      <%  end  %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--linux2 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "git.html" do %>
        <h3>Git</h3>
        <%= image_tag 'logo-git.png', :class => 'logo__columns' %>
        <span>Set up Git</span>
      <%  end  %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--linux3 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "heroku.html" do %>
      <h3>Heroku</h3>
      <%= image_tag 'Heroku-white.png', :class => 'logo__columns' %>
      <span>Set up Postgre SQL</span>
      <% end %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--linux4 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "homebrew.html" do %>
      <h3>Linux brew</h3>
      <%= image_tag 'Homebrew-Original.png', :class => 'logo__columns' %>
      <span>Set up Linux brew</span>
      <%  end  %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--linux5 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "node.html" do %>
      <h3>Node</h3>
      <%= image_tag 'logo-node.png', :class => 'logo__columns' %>
      <span>Set up Node</span>
      <% end %>
    </div>
</div>
