<%= partial(:'partials/header', :locals => { :title => "Node.js Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 3 }) %>
    <div class="row item active bg-red">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Brew install</h2>
          <p>
            In order to get Node simply run:
          <span class="step__boxes step__boxes--code">
            brew install node
          </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-node-1.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row item bg-green">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Wait for it!</h2>
          <p>
            At this step, the
            <span class="step__boxes step__boxes--code">
              make install
            </span>
            <br>
            can take time, just wait until the prompt comes back.
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-node-2.png', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row item bg-yellow">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Check if evrything is good !</h2>
          <p>
          Run
          <br>
          <span class="step__boxes step__boxes--instructions">
            node -v
          </span>
          <br>
          And
          <br>
          <span class="step__boxes step__boxes--instructions">
            npm -v
          </span>
          <br>
          If you can see the version and no errors messages, go coding !
          </p>
          <% link_to "../useful/index.html" , :class => 'step__next' do %>
            Checkout the useful tools <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-node-3.png', :class => 'step__image' %>
        </article>
      </div>
<%= partial "partials/endcarousel" %>
