<%= partial(:'partials/header', :locals => { :title => "Ruby &amp; Rvm Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 9 }) %>
    <div class="row <%= bgcolor %> item active">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Install Ruby dependencies</h2>
          <p>
            Update your apps
            <span class="step__boxes step__boxes--code">sudo apt-get update</span>
            Install the dependencies:
            <span class="step__boxes step__boxes--code">
              sudo apt-get install git-core curl zlib1g-dev build-essential libssl-dev libreadline-dev libyaml-dev libsqlite3-dev sqlite3 libxml2-dev libxslt1-dev libcurl4-openssl-dev python-software-properties libffi-dev
            </span>
            <br>
            Type your password and hit
            <span class="step__boxes step__boxes--instructions">
              Return
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-ruby-step1.png', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row <%= bgcolor %> item ">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Say Yes!</h2>
          <p>
            The terminal will ask you to validate the space that will be used
            <br>
            Write
            <span class="step__boxes step__boxes--instructions">Y</span>
            <br>
            And hit
            <span class="step__boxes step__boxes--instructions">
              Return
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-ruby-step2.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Is it finish?</h2>
          <p>
            You can think that it is finish because nothing is happenning on the screen
            <br>
            Wait until you see this screen
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-ruby-step3.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item ">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: Install RVM dependencies</h2>
          <p>
            Open your terminal again and type
            <br>
            <span class="step__boxes step__boxes--code">
              sudo apt-get install libgdbm-dev libncurses5-dev automake libtool bison libffi-dev
            </span>
            <br>
            The terminal will ask you to validate the space that will be used
            <br>
            Write
            <span class="step__boxes step__boxes--instructions">Y</span>
            <br>
            And hit
            <span class="step__boxes step__boxes--instructions">
              Return
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-ruby-step4.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item ">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fifth step: Curl RVM</h2>
          <p>
            Curl the last stable version of RVM
            <br>
            <span class="step__boxes step__boxes--code">
              curl -L https://get.rvm.io | bash -s stable
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-ruby-step5.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item ">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Sixth step: Source it!</h2>
          <p>
            Use the source command to read &amp; execute the content of /rvm
            <br>
            <span class="step__boxes step__boxes--code">source ~/.rvm/scripts/rvm</span>
            <br>
            Or if it is not working
            <br>
            <span class="step__boxes step__boxes--code">source /home/YOUR COMPUTER NAME/.rvm/scripts/rvm</span>
            <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-ruby-step6.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item ">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Seventh step: Finally install ruby !</h2>
          <p>
            Run
            <br>
            <span class="step__boxes step__boxes--code">rvm install 2.2.2</span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-ruby-step7.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item ">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Eight step: Use it!</h2>
          <p>
            Say to your computer which version it should use as a default version.
            <br>
            <span class="step__boxes step__boxes--code">rvm use 2.2.2 --default</span>
            <br>
            Now, check if you have the right version and no error messages
            <br>
            <span class="step__boxes step__boxes--code">ruby -v</span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-ruby-step8.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Nineth step: Ready to find some gem?</h2>
          <p>
            Now tell to Rubygems to not install the documentation locally for each package.
            <br>
            <span class="step__boxes step__boxes--code">
              echo "gem: --no-ri --no-rdoc" > ~/.gemrc
            </span>
            Install the great bundler with:
            <span class="step__boxes step__boxes--code">
              gem install bundler
            </span>
          </p>
          <% link_to "git.html" , :class => 'step__next' do %>
            Install Git <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'linux-ruby-step9.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

<%= partial "partials/endcarousel" %>
