<%= partial(:'partials/header', :locals => { :title => "Atom Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 4 }) %>
    <div class="row <%= bgcolor %> item active">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Introduction: What's Atom ?</h2>
          <p>
            Atom is a text editor that simplify your life.
          <br>
            Basicaly it is like <a href="https://www.sublimetext.com/3">sublime text</a> but it comes with more packages
          <br>
            And it is easier to use
          <br>
            The big + ... It has been made by GitHub
          <br>
            It mades the interaction optimale!
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'atomlogo.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Install the DMG !</h2>
          <p>
            Got to this URL
          <br>
            <span class="step__boxes step__boxes--instructions"><a href="https://atom.io/">Atom.io</a></span>
          <br>
              And click on the download button
          <br>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'atom-step1.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Open the package</h2>
          <p>
            Click on
            <span class="step__boxes step__boxes--instructions">Open When Done</span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'atom-step2.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: Drag it!</h2>
          <p>
            Put the application in your Application folder
          </p>
          <% link_to "vim.html" , :class => 'step__next' do %>
            Install VIM <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'atom-step3.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

<%= partial "partials/endcarousel" %>
