<%= partial(:'partials/header', :locals => { :title => "GitBook Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 4 }) %>
    <div class="row <%= bgcolor %> item active">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Register with GitBook</h2>
          <p>
              When it comes to development, chrome is the best.
            <br>
              Got to this URL and download it
              <span class="step__boxes step__boxes--instructions"><a href="https://www.google.com/chrome/browser/desktop/index.html">Download Chrome</a></span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'gitbook-step1.png', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Accept the evil conditions</h2>
          <p>
            Click on
            <span class="step__boxes step__boxes--instructions">"Accept and Install"</span>
          <br>
            Now that google have an access to all of your data,
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'gitbook-step2.png', :class => 'step__image' %>
        </article>
      </div>
    </div>
    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Open the DMG</h2>
          <p>
            Click on the downloaded file and open it
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'gitbook-step3.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: Drag it to the app folder</h2>
          <p>
            Everything is in the title,
            <br>
            Drag and Drop the app file to the application folder
            <br>
            It works
          </p>
          <% link_to "gitbook.html" , :class => 'step__next' do %>
            Checkout Gitbook ! <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'gitbook-step4.png', :class => 'step__image' %>
        </article>
      </div>
    </div>

<%= partial "partials/endcarousel" %>
