<%= partial(:'partials/header', :locals => { :title => "Useful tools" }) %>
<div class="row essentialtools">
    <div class="wow fadeInDown essentialtools__col essentialtools__col--1 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "iterm.html" do %>
        <h3>iTerm</h3>
        <%= image_tag 'iterm-logo.png', :class => 'logo__columns' %>
        <span>Set up iTerm</span>
      <% end %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--2 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "atom.html" do %>
        <h3>Atom</h3>
        <%= image_tag 'atom-logo.png', :class => 'logo__columns' %>
        <span>Set up Atom</span>
      <% end %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--4 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "vim.html" do %>
        <h3>Vim</h3>
        <%= image_tag 'logo-vim.png', :class => 'logo__columns' %>
        <span>Set up Vim</span>
      <% end %>
    </div>
    <div class="wow fadeInUp essentialtools__col essentialtools__col--3 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "googlechrome.html" do %>
        <h3>Google Chrome</h3>
        <%= image_tag 'chrome-logo.png', :class => 'logo__columns' %>
        <span>Set up Google Chrome</span>
      <% end %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--6 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "gitbook.html" do %>
        <h3>GitBook</h3>
        <%= image_tag 'gitbook-logo.png', :class => 'logo__columns' %>
        <span>Set up Git Book</span>
      <% end %>
    </div>
</div>
