<%= partial(:'partials/header', :locals => { :title => "iTerm2 Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 3 }) %>
    <div class="row <%= bgcolor %> item active">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: What's the toolbelt?</h2>
          <p>
            iTerm is a replacement for terminal.
            <br>
            It has a lot more features built into it than the standard terminal.
            <br>
            <span class="step__boxes step__boxes--instructions">
              <a href="https://www.iterm2.com/downloads.html">Download the latest version</a>
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'iterm-step1.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Open the package</h2>
          <p>
            Click on
            <br>
          <span class="step__boxes step__boxes--instructions">
            "Open"
          </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'iterm-step2.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Drag it</h2>
          <p>
            Drag and drop it to the app folder
          </p>
          <% link_to "atom.html" , :class => 'step__next' do %>
            Install Atom <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'iterm-step3.jpg', :class => 'step__image' %>
        </article>
      </div>
      
<%= partial "partials/endcarousel" %>
