<%= partial(:'partials/header', :locals => { :title => "Vim Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 2 }) %>
    <div class="row <%= bgcolor %> item active">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Introduction: VIM </h2>
          <p>
            It stands for VI Improved, and it is.
            <br>
            We won't explain how to use it right now - but look out for an update later.
            <br>
            You just need to know that it is a text editor that runs in your terminal window and that you already have it
            <br>
            <span class="step__boxes step__boxes--code">vim</span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'vim-step1.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Understanding what is going on</h2>
          <p>
            Now, just type
            <br>
            <span class="step__boxes step__boxes--code">:help</span>
            <br>
            Follow the tutorial to learn VIM.
          </p>
          <% link_to "googlechrome.html" , :class => 'step__next' do %>
            Install Chrome <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'vim-step2.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>
<%= partial "partials/endcarousel" %>
