<%= partial(:'partials/header', :locals => { :title => "Heroku & Git Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 4 }) %>
    <div class="row <%= bgcolor %> item active">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Introduction: What's the toolbelt?</h2>
          <p>
            The Heroku toolbelt is a package that will allows you
            <br>
            to have the Heroku CommandLine up and runing.
            <br>
            You will be able to interact directly with the servers.
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Let's start the setup <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'heroku-step1.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Install the toolbelt</h2>
          <p>
            Go to this website:
            <br>
          <span class="step__boxes step__boxes--instructions">
            <a href="https://toolbelt.heroku.com/osx">https://toolbelt.heroku.com/osx</a>
          </span>
          <br>
            Download the package
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'heroku-step2.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Open the package</h2>
          <p>
            Click on
            <span class="step__boxes step__boxes--instructions">
              Open
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'heroku-step3.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Continue the install</h2>
          <p>
            Click on
            <span class="step__boxes step__boxes--instructions">
              Continue
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'heroku-step3.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: Put your password and launch the installation</h2>
          <p>
            Fill the input with your password
            <br>
            And click on
            <span class="step__boxes step__boxes--instructions">
              Install Software
            </span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'heroku-step4.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: Put your password and launch the installation</h2>
          <p>
            That's it you are set up for Heroku, Foreman &amp; Git now !
          </p>
          <% link_to "../useful/index.html" , :class => 'step__next' do %>
            Checkout the useful tools <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'herokulogo.jpg', :class => 'step__image' %>
        </article>
      </div>

<%= partial "partials/endcarousel" %>
