<header class="wow fadeInDown  header">
  <% link_to "../../index.html" do %>
    <i class="fa fa-home"></i>
  <% end %>
  <h1 class="header__h1">
    Heroku &amp; Git Set Up
  </h1>
  <span class="header__socials">
    <span class="header__share">
      SHARE
    </span>
    <% link_to "http://facebook.com" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
    <% link_to "http://twitter.com" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
  </span>
</header>
<div id="carousel-example-generic" class="carousel carousel__1 slide" data-interval="false" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="row item active bg-purple">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Introduction: What's the toolbelt?</h2>
          <p>
            The Heroku toolbelt is a package that will allows you
            <br>
            to have the Heroku CommandLine up and runing.
            <br>
            You will be able to interact directly with the servers.
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Let's start the setup <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'heroku-step1.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row item bg-green">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Install the toolbelt</h2>
          <p>
            Go to this website:
            <br>
          <span class="step__boxes step__boxes--instructions">
            <a href="https://toolbelt.heroku.com/osx">https://toolbelt.heroku.com/osx</a>
          </span>
          <br>
            Download the package
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'heroku-step2.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row item bg-blue">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Open the package</h2>
          <p>
            Click on
            <span class="step__boxes step__boxes--instructions">
              Open
            </span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'heroku-step3.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row item bg-orange">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Continue the install</h2>
          <p>
            Click on
            <span class="step__boxes step__boxes--instructions">
              Continue
            </span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'heroku-step3.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row item bg-yellow">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: Put your password and launch the installation</h2>
          <p>
            Fill the input with your password
            <br>
            And click on
            <span class="step__boxes step__boxes--instructions">
              Install Software
            </span>
          </p>
          <p class="step__next" href="#carousel-example-generic" role="button" data-slide="next">
            Take the next step <i class="fa fa-angle-double-right"></i>
          </p>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'heroku-step4.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row item bg-purple">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: Put your password and launch the installation</h2>
          <p>
            That's it you are set up for Heroku, Foreman &amp; Git now !
          </p>
          <% link_to "../useful/index.html" , :class => 'step__next' do %>
            Checkout the useful tools <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'herokulogo.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
