<%= partial(:'partials/header', :locals => { :title => "Essential tools" }) %>
<div class="row essentialtools">
    <div class="wow fadeInDown essentialtools__col essentialtools__col--1 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "xcode.html" do %>
        <h3>Xcode</h3>
        <%= image_tag 'Xcode-original.png', :class => 'logo__columns' %>
        <span>Set up Xcode</span>
      <%  end  %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--2 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "homebrew.html" do %>
      <h3>Homebrew</h3>
      <%= image_tag 'Homebrew-Original.png', :class => 'logo__columns' %>
      <span>Set up Homebrew</span>
      <%  end  %>
    </div>
    <div class="wow fadeInUp essentialtools__col essentialtools__col--3 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "ruby.html" do %>
      <h3>RVM &amp; Ruby</h3>
      <%= image_tag 'Ruby-original.png', :class => 'logo__columns' %>
      <span>Set up Ruby</span>
      <%  end  %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--4 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "pry.html" do %>
      <h3>Pry</h3>
      <%= image_tag 'Pry-original.png', :class => 'logo__columns' %>
      <span>Set up Pry</span>
      <% end %>
    </div>
    <div class="wow fadeInDown essentialtools__col essentialtools__col--5 col-lg-15 col-md-15 col-sm-12 col-xs-12">
      <% link_to "heroku.html" do %>
      <h3>Heroku</h3>
      <%= image_tag 'Heroku-white.png', :class => 'logo__columns' %>
      <span>Set up Heroku</span>
      <% end %>
    </div>
</div>
