<%= partial(:'partials/header', :locals => { :title => "Pry Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 1 }) %>
    <div class="row <%= bgcolor %> item active">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Install PRY</h2>
          <p>
            PRY is console or debbuger that will help in your everyday life.
            <br>
            To install it, run:
          <span class="step__boxes step__boxes--code">gem install pry</span>
            <br>
            That's all
          </p>
          <% link_to "heroku.html" , :class => 'step__next' do %>
            Install Heroku &amp; Github <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'pry-step1.jpg', :class => 'step__image' %>
        </article>
      </div>
<%= partial "partials/endcarousel" %>
