<%= partial(:'partials/header', :locals => { :title => "Ruby &amp; Rvm Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 3 }) %>
    <div class="row <%= bgcolor %> item active">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Install Ruby Version Manager (RVM)</h2>
          <p>
            Open your terminal and paste this line in:
          <span class="step__boxes step__boxes--code">\curl -L https://get.rvm.io | bash -s stable</span>
            <br>
            Basically RVM helps you to manage the different versions of ruby
            <br>
            <br>
            Now, quit out of your terminal (CMD + Q)
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'ruby-step1.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Check if everything goes well </h2>
          <p>
            Open your terminal again and type
            <br>
            <span class="step__boxes step__boxes--code">type rvm | head -n 1</span>
            <br>
            You should see a message saying
            <br>
            <span class="step__boxes step__boxes--instructions">rvm is a function</span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'ruby-step3.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

    <div class="row <%= bgcolor %> item">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Finally lets install Ruby </h2>
          <p>
            To install ruby, run this command:
            <span class="step__boxes step__boxes--code">rvm use ruby --install --default</span>
            <br>
            It might ask you for your password
            <br>
            Then if you type:
            <span class="step__boxes step__boxes--code">ruby -v</span>
            <br>
            If you get:
            <span class="step__boxes step__boxes--instructions">ruby 2.2.1 or +</span>
            <br>
            and your computer now speaks ruby
          </p>
          <% link_to "pry.html" , :class => 'step__next' do %>
            Install PRY <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'ruby-step4.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>

<%= partial "partials/endcarousel" %>
