<%= partial(:'partials/header', :locals => { :title => "Xcode Set Up" }) %>
<%= partial(:'partials/startcarousel', :locals => { :iterator => 4 }) %>
    <div class="row item active bg-yellow">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>First step: Install the Command Line Tools via the terminal</h2>
          <p>
            Open your terminal and write this line:
            <br>
          <span class="step__boxes step__boxes--code">xcode-select --install</span>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'xcode-step1.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row item bg-red">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Second step: Install !</h2>
          <p>
            Click on
            <br>
            <span class="step__boxes step__boxes--instructions">"Install"</span>
            <br>
            You'll need to wait a bit that the software install itself
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'xcode-step2.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>
    <div class="row item bg-green">

      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Third step: Accept the License Agreement</h2>
          <p>
            Click on :
            <br>
            <span class="step__boxes step__boxes--instructions">"Agree"</span>
            <br>
          </p>
          <%= partial "partials/nextstep" %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'xcode-step3.jpg', :class => 'step__image' %>
        </article>
      </div>
    </div>


    <div class="row item bg-purple">
      <div class="wow slideInLeft col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <h2>Fourth step: You're good to go !</h2>
          <p>
            Click on:
            <br>
            <span class="step__boxes step__boxes--instructions">"Done"</span>
            <br>
            And take the next step
          </p>
          <% link_to "homebrew.html" , :class => 'step__next' do %>
            Install HomeBrew <i class="fa fa-angle-double-right"></i>
          <% end %>
        </article>
      </div>
      <div class="wow slideInRight col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <article class="step">
          <%= image_tag 'xcode-step4.jpg', :class => 'step__image' %>
        </article>
      </div>
<%= partial "partials/endcarousel" %>
